################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
Vectorization_OpenCV.sln
Vectorization_OpenCV.vcxproj
Vectorization_OpenCV.vcxproj.filters
Vectorization_OpenCV.vcxproj.user